weaviate-client
langchain
langchain-community
sentence-transformers
langchain-huggingface
langchain_weaviate
numpy
pydantic
dotenv
langchain_google_genai
pathlib
google-api-python-client
google-auth-httplib2
google-auth-oauthlib